# Data sensitive and keys
data/*
.egg*

# Byte-compiled / optimized / DLL files
__pycache__/

# Distribution / Packaging
.venv/

# Setuptools/Wheel metadata
**/.egg-info/
**src/AIAP22_CLI.egg-info/**
**build/**